/* *{
    font-family: 'space mono';
} */

body{
    @apply bg-cyan-light;
    font-family: "Space Mono", monospace;
    /* overflow: hidden; */
}

.custom-input{
    @apply bg-cyan-lightest appearance-none rounded-sm w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none;
}

.cont{
    position: relative;
}

.cont img{
    position: absolute;
}

.cont i{
    position: absolute;
    left: 10px;
    top: 40px;
    @apply text-cyan-dark; 
}

.special-input{
    text-align:right;
    padding-right: 15px;
    @apply text-cyan-strongest;
    font-weight: 700;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.new-input{
    padding: 0px;
    margin: 0px;
    width: 55px;
    text-align: center;
}

.boton-1{
    @apply bg-cyan-strongest px-7;
    border-radius: 0.3rem;
    color: white;
    font-weight: bold;
}

.btn-cont{
    display: grid;
    /* grid-template-columns: repeat(3,30%);
    grid-template-rows: repeat(2,50%); */
    gap: 8px;
    
}

.tip-input{
    text-align: center;
    @apply text-cyan-strongest bg-cyan-lightest appearance-none rounded-md w-full py-2 h-10 px-1 leading-tight focus:outline-none tracking-wider font-semibold placeholder-cyan-darkest;
}

input{
    border: 2px solid white;
    border-radius: 0.3rem;
}

input:hover{
    @apply border-2 border-cyan-strong rounded-md;
}